*{
    margin:0;
    padding:0;
    box-sizing: 0;
    text-decoration: none;
}

ul li{
    list-style: none;
}
header {
    background: rgb(245, 241, 241);
    box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
}
header .logo{
    font-size: 42px;
    color:rgb(14, 134, 233);
    font-weight: bold;
    display: block;
    padding-left: 16px;
    padding-top: 16px;
}
header nav{
position: absolute;
width:100%;
background: rgb(245, 241, 241);
box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
}
.toggler__btn_container{
    display: block;
    text-align: center;
}
header nav li{
    margin-left: 16px;
    margin-bottom: 8px;
}
header nav li a{
color:rgb(80, 77, 77);
}
header nav li a:hover{
    color:rgb(14, 134, 233);
}
header input[type="checkbox"]:checked ~ nav{
    display: none;
}
.checkbox{
    display: none;
}

.toggler__btn_container{
    position: absolute;
    right: 0;
    top:0;
    margin-right: 16px;
    height:80px;
    display: flex;
    align-items: center;
}

.toggler__btn_container span,
.toggler__btn_container span::after,
.toggler__btn_container span::before{
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: rgb(14, 134, 233);
}
.toggler__btn_container span::after,
.toggler__btn_container span::before{
    position: absolute;
    content: "";
}
.toggler__btn_container span::before{
    bottom:7px;
}
.toggler__btn_container span::after{
    top:7px;
}
@media all and (min-width:576px){
    header .logo{
        padding-left: 0px;
        padding-top: 0px;
       
    }
    .toggler__btn_container{
        display: none;
    }
 
    header nav{
        position:relative;
        box-shadow: none;
        background: none;
 }
    header{
     display: flex;
     align-items: center;
 }

    header{
        display: flex;
        justify-content: space-between;
        padding:0px 5%;
}

    header > :first-child{
        flex-basis: 40%;
    }
    header > :nth-child(3){
        flex-basis: 60%;
    }
    header nav ul{
        display: flex;
    }
    .toggler__btn_container span{
        display: none;
    }

}


@media all and (min-width:768px){
    
    header > :first-child{
        flex-basis: 70%;
    }
    header > :nth-child(3){
        flex-basis: 30%;
    }
}